#error_explanation {
  margin-top: 20px;

  h2 {
    font-size: 1.6rem;
  }

  ul {
    margin-top: 5px;
    font-size: 1.4rem;
    list-style-type: circle;
    text-align: left;
    padding-left: 30px;
  }
}