.header {
  width: 100%;
  height: $header-height;
  background-color: $main-color;
  z-index: 999;

  .inner {
    height: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .header-logo {
        font-size: 4rem;
        
        a {
          color: $logo-color;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .header-list {
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-item {
          padding-top: 4px;

          a {
            text-decoration: none;
            font-weight: bold;
            color: $gray-color;
          }

          .header-avatar {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
          
          &._register {
            background-color: $logo-color;
            border-radius: 20%;
            padding: 5px;

            a {
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.record-btn {
  height: 50px;
  width: 50px;
  background: $main-color;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 40px;

  a {
    color: $logo-color;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.header-space {
  width: 100%;
  height: $header-height;
}