table.users-table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;

  th {
    color: rgb(132, 142, 156);
    font-size: 1.3rem;
    vertical-align: middle;
    padding: 10px 0 10px 12px;
  }

  .follow-col {
    width: 50px;
  }

  .weight-col {
    width: 18%;
  }

  .change-col{
    width: 18%;
  }

  .bmi-col{
    width: 12%;
  }

  .date-col{
    display: none;

    @include mq(tab) {
      display: table-cell;
      width: 18%;
    }
  }
}

.users-table-body {
  tr {
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);

    td {
      vertical-align: middle;
      padding: 20px 0 20px 12px;

      .follow-btn {
        font-size: 2rem;
      }
      .table-userimage {
        object-fit: cover;
        border-radius: 50%;
      }

      .table-usernames {
        display: flex;
        align-items: center;

        .table-username {
          margin-left: 5px;
        }
      }
    }

    .follow-data{
      text-align: center;
    }
  }
}

.pluscolor {
  color: $plus-change;
  font-weight: bold;
}

.minuscolor {
  color: $minus-change;
  font-weight: bold;
}
