#mv {
  height: 400px;
  max-height: 600px;
  background: rgb(26, 26, 26) url('mv1.svg') no-repeat center center/contain;
  margin-top: 0;
}

#users {
  background: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 20px;

  .inner {
    background: #fff;
    padding-bottom: 20px;

    .users-search {
      text-align: center;
    }

    .users-body {
      padding-top: 10px;

      &-tabs {
        text-align: left;

        .tab-item {
          display: inline-block;
          padding: 3px;
          padding-top: 0;
          font-size: 3rem;
          margin-left: 25px;
          margin-bottom: 5px;
          cursor: pointer;
        }

        #all-users:checked ~ ._all-label,
        #fav-users:checked ~ ._fav-label{
          color: #f1c40f;
          font-weight: bold;
          border-bottom: 2px solid #f1c40f;
        }

        input[name="tab-item"] {
          display: none;
        }

        .tab-content {
          display: none;
          overflow: hidden;
        }

        #all-users:checked ~ #all-content,
        #fav-users:checked ~ #fav-content {
          display: block;
        }
      }
      
      .users-table-head {
        th {
          text-align: center;
        }
        .bmi-col {
          width: 80px;
        }

        .date-col {
          width: 160px;
        }

        .follow-col {
          width: 4rem;
        }
      }

      &-head {
        display: flex;
        border-top: 1px solid $gray-border;
        border-bottom: 1px solid $gray-border;
      }

      .users-table-body {
        td {
          text-align: center;
          vertical-align: middle;
          height: 50px;

          .follow-btn {
            font-size: 2rem;
          }
          .table-userimage {
            object-fit: cover;
            border-radius: 50%;
          }

          .table-usernames {
            display: flex;
            align-items: center;

            .table-username {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.pluscolor {
  color: $plus-color;
  font-weight: bold;
}

.minuscolor {
  color: $minus-color;
  font-weight: bold;
}