#mv {
  height: 400px;
  max-height: 600px;
  background: rgb(26, 26, 26) url('mv1.svg') no-repeat center center/contain;
  margin-top: 0;
}

#users {
  background: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 20px;

  .inner {
    background: #fff;
    padding-bottom: 20px;

    .users-search {
      text-align: center;
    }

    .users-body {
      padding-top: 20px;

      &-switch {
        display: flex;
        li {
          margin-right: 30px;
        }
      }
      
      .users-table-head {
        th {
          text-align: center;
        }
        .bmi-col {
          width: 80px;
        }

        .date-col {
          width: 160px;
        }

        .follow-col {
          width: 4rem;
        }
      }

      &-head {
        display: flex;
        border-top: 1px solid $gray-border;
        border-bottom: 1px solid $gray-border;
      }

      .users-table-body {
        td {
          text-align: center;
          vertical-align: middle;
          height: 50px;

          .follow-btn {
            font-size: 2rem;
          }
          .table-userimage {
            object-fit: cover;
            border-radius: 50%;
          }

          .table-usernames {
            display: flex;
            align-items: center;

            .table-username {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.pluscolor {
  color: $plus-color;
  font-weight: bold;
}

.minuscolor {
  color: $minus-color;
  font-weight: bold;
}