.show-sec {
  padding-bottom: 40px;
  
  .inner {
    width: 80%;

    .show-head {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;

      .user-avatar {
        .show-avatar {
          object-fit: cover;
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
      }

      .user-manage{
        text-align: left;
        margin-left: 30px;
        .user-menu {
          margin-top: 10px;

          a {
            font-size: 1.4rem;
            border-radius: 20px;

            &:last-of-type {
              margin-left: 5px;
            }
          }
        }
      }
    }
  
    .user-info {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 40px;      

      .info-item {
        margin-left: 30px;
        text-align: left;

        &:first-child {
          margin-left: 0;
        }

        dt {
          color: gray;
        }

        dd {
          font-weight: bold;
        }
      }
    }
  }
}

canvas {
  max-width: 800px;
  margin: 0 auto;
}
