#mv {
  height: 400px;
  background: url('https://placehold.jp/1300x400.png') no-repeat center center/cover;
  margin-top: 0;
}

#users {
  background: $gray-color;

  .inner {
    background: #fff;

    .users-search {
      text-align: center;
    }

    .users-body {
      padding-top: 20px;

      &-switch {
        display: flex;
        li {
          margin-right: 30px;
        }
      }

      &-head {
        display: flex;
        border-top: 1px solid $gray-border;
        border-bottom: 1px solid $gray-border;
      }
    }
  }
}