section#show.show
  .inner
    h1.show-name= @user.name

    .user-info
      dl.user-dl
        dt.user-dt 身長
        dd.user-dd= "#{@user.height} cm"
      dl.user-dl
        dt.user-dt 登録日
        dd.user-dd= @user.created_at.strftime("%Y年%m月%d日")

      .user-manage
        = link_to '編集', edit_user_path(@user), class:'btn btn-danger manage-item'
        = link_to '削除', @user, method: :delete, class:'btn btn-danger manage-item'
  
    dl.show-list
      dt.show-dt Last Weight
      dd.show-dd= @user.records.last.weight

      dt.show-dt 1month Change
      dd.show-dd= change(@user).round(1)

      dt.show-dt 1month Max
      dd.show-dd= max_weight(@user)

      dt.show-dt 1month min
      dd.show-dd= min_weight(@user)

      dt.show-dt BMI
      dd.show-dd= bmi(@user).round(1)

    canvas#myChart

javascript:
  var ctx = document.getElementById("myChart").getContext('2d');
  var Graph = new Chart(ctx, {
    type: 'line',
    data: {
      labels: #{{@labels.to_json}},
      datasets: [
        {
          label: '過去1ヶ月の体重の変化',
          data: #{{@datas.to_json}},
          borderColor: 'rgba(255,0,0,1)',
          backgroundColor: 'rgba(0,0,0,0)'
        }
      ],
    },
    option: {
      title: {
        display: true,
        text: 'ゴミ(８月３周)'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 10,
            suggestedMin: 0,
            stepSize: 2,
            callback: function(value, index, values) {
              return value + 'kg'
            }
          }
        }]
      },
    }
  });